/*Google Fonts*/

@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/*CSS Variables*/

:root {
    --primary-font: "Bitter", sans-serif;
    --secondary-font: "Libre Baskerville", sans-serif;
    --primary-color: rgba(232, 221, 196);
    --secondary-color: #3f5b68;
    --highlight-color: #dcd7d2;
    --highlight2-color: #b49c65;
    --highlight3-color: #48613d;
}

/*Global Styles*/

body {
    background: linear-gradient(100deg, white, #ced8de);
    letter-spacing: 3px;
}

h1 {
    font-family: var(--secondary-font);
}

div {
    margin-bottom: 10px;
    margin-top: 10px;
}

/*Header CSS*/

.scrabble-tile {
      position: relative;
      background: linear-gradient(145deg, rgba(245, 239, 228, 0.9), rgba(231, 216, 184, 0.2)), url(/assets/images/blank-tile.png);
      background-position: center;
      border: 3px solid #b49c65;
      border-radius: 6px;
      width: 60px;
      height: 60px;
      margin: 5px 5px;
      box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2), inset -1px -1px 0 rgba(255,255,255,0.4);
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: var(--secondary-font);
      font-weight: bold;
      font-size: 2rem;
      color: var(--highlight3-color);
    }

.tile-letter {
      z-index: 1;
    }

.tile-score {
      position: absolute;
      bottom: 4px;
      right: 6px;
      font-size: 0.6rem;
      font-weight: bold;
      color: #444;
    }

.header-container {
      margin-top: 40px;
      text-align: center;
    }

.tagline {
    font-family: var(--secondary-font);
    text-transform: uppercase;
}    

/*Main Content*/

main {
    font-family: var(--primary-font);
    background-image: url(/assets/images/background-image.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.form-label {
    font-weight: bold;
}

.btn-style {
    background-color: var(--secondary-color);
    color: var(--highlight-color);
    text-transform: uppercase;
    font-weight: bold;
    border: 2px solid var(--highlight-color);
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    letter-spacing: 3px;
}

.lighter-border {
    border: 2px solid var(--highlight-color);
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
}

#scoreboard {
    font-weight: bold;
}


#game {
    display: none;
}

.game-tile {
    background: linear-gradient(200deg, rgba(232, 221, 196, 0.8), rgba(215, 198, 161, 0.3)), url(/assets/images/wood-bg-image.jpg);
    width: 70%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#tiles {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin: 1rem 0;
    /* added for flip animation */
    perspective: 600px;
}

.tile {
    background-color: #fff3e0;
    border: 3px solid var(--highlight2-color);
    border-radius: 8px;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: var(--secondary-font);
    color: #6e2c00;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    /* added for animation flip */
    position: relative;
    width: 60px;
    height: 60px;
    transform-style: preserve-3d;
    transition: transform 0.6s;
    }

#round-counter {
    font-weight: bold;
    }

#feedback {
    font-weight: bold;
    }

/* extra code for flip animation*/

.tile::before {
    content: "?";
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    backface-visibility: hidden;
    /* style front face */
    background-color: #fff3e0;
    color: #b49c65;
    border-radius: 8px;
    border: 3px solid var(--highlight2-color);
}

.tile .tile-letter {
    transform: rotateY(180deg);
    backface-visibility: hidden;
}

.tile.flip {
    transform: rotateY(180deg);
}

.tile.flip::before {
    visibility: hidden;
}

/*Media Query for title on small screens*/

@media (max-width: 768px) {
    .scrabble-tile {
      width: 40px;
      height: 40px;
      font-size: 1rem;
    }

    .tile-score {
      font-size: 0.3rem;
      
    }

    .tile {
      width: 40px;
      height: 40px;
      font-size: 1rem;
    }
}