/*Google Fonts*/

@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/*CSS Variables*/

:root {
    --primary-font: "Bitter", sans-serif;
    --secondary-font: "Libre Baskerville", sans-serif;
    --primary-color: rgba(232, 221, 196);
    --secondary-color: #3f5b68;
    --highlight-color: #dcd7d2;
    --highlight2-color: #b49c65;
    --highlight3-color: #48613d;
}

/*Global Styles*/

body {
    background: linear-gradient(100deg, white, #ced8de);
    letter-spacing: 3px;
}

h1 {
    font-family: var(--secondary-font);
}

div {
    margin-bottom: 10px;
    margin-top: 10px;
}

/*Header CSS*/

.scrabble-tile {
      position: relative;
      background: linear-gradient(145deg, #f5efe4, #d7c6a1);
      border: 3px solid #b49c65;
      border-radius: 6px;
      width: 60px;
      height: 60px;
      margin: 5px 5px;
      box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2), inset -1px -1px 0 rgba(255,255,255,0.4);
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: var(--secondary-font);
      font-weight: bold;
      font-size: 2rem;
      color: var(--highlight3-color);
    }

.tile-letter {
      z-index: 1;
    }

.tile-score {
      position: absolute;
      bottom: 4px;
      right: 6px;
      font-size: 0.6rem;
      font-weight: bold;
      color: #444;
    }

.header-container {
      margin-top: 40px;
      text-align: center;
    }

/*Main Content*/

main {
    font-family: var(--primary-font);
    background-image: url(../images/background-image.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.btn-style {
    background-color: var(--secondary-color);
    color: var(--highlight-color);
    text-transform: uppercase;
    font-weight: bold;
    border: 2px solid var(--highlight-color);
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    letter-spacing: 3px;
}

.lighter-border {
    border: 2px solid var(--highlight-color);
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
}

#scoreboard {
    font-weight: bold;
}


#game {
    display: none;
}

.game-tile {
    background: linear-gradient(145deg, rgba(232, 221, 196, 0.8), rgba(215, 198, 161, 0.95));
    width: 70%;
}

#tiles {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 10px;
      margin: 1rem 0;
    }

.tile {
      background-color: #fff3e0;
      border: 3px solid var(--highlight2-color);
      border-radius: 8px;
      width: 60px;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.5rem;
      font-weight: bold;
      font-family: var(--secondary-font);
      color: #6e2c00;
      box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    }

#round-counter {
        font-weight: bold;
    }

#feedback {
        font-weight: bold;
    }

/*CSS Grid Visualisation*/
/*
container, .row {
    border: 2px solid black;
}

.col-12 {
    border: 2px solid white;
    background-color: lightgrey;
}
*/

/*Media Query for title on small screens*/

@media (max-width: 768px) {
    .scrabble-tile {
      width: 40px;
      height: 40px;
      font-size: 1rem;
    }

    .tile-score {
      font-size: 0.3rem;
      
    }

    .tile {
      width: 40px;
      height: 40px;
      font-size: 1rem;
    }
}